<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Home Route</title>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }

        .container {
            border: 2px solid white;
            padding: 20px;
            text-align: center;
            
        }

        .button {
            display: block;
            margin: 10px;
            text-decoration: none;
            font-size: large;
            color: white;
            background-color: #333;
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 5px;
            margin: auto;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Redis Use-Cases</h1>
        <form action="api-testing/api-caching">
            <button type="submit" class="button">API Cache Page</button>
        </form>
        <form action="api-testing/login-page">
            <button type="submit" class="button">Rate Limiting Page</button>
        </form>
        <form action="api-testing/leader-board">
            <button type="submit" class="button">Real-Time LeaderBoard</button>
        </form>
        <form action="api-testing/register-user">
            <button type="submit" class="button">Redis Session Storage</button>
        </form>
        <form action="api-testing/get-places">
            <button type="submit" class="button">Geospatial Indexing</button>
        </form>
    </div>
</body>

</html>