<!DOCTYPE html>
<html>

<head>
    <title>Real-Time Leaderboard</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
    
        h1,
        h2 {
            color: white;
        }
    
        ul {
            list-style-type: none;
            padding: 0;
        }
    
        li {
            display: inline-block;
            margin: 10px;
        }
    
        li button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
        }
    
        table {
            border: 2px solid white;
            margin: 0 auto;
        }
    
        th,
        td {
            padding: 10px 25px;
            text-align: center;
        }
    
        th {
            background-color: #333;
            color: white;
        }
    
        tr:nth-child(even) {
            background-color: #555;
        }
    </style>
</head>

<body>
    <h1>Real-Time Leaderboard</h1>
    <p>Press the buttons below to increment the user scores by 10 and see changes in leaderboard</p>

    <ul>
        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Manraj">
                <button type="submit">Manraj</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Sanchit">
                <button type="submit">Sanchit</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Sachit">
                <button type="submit">Sachit</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Pratham">
                <button type="submit">Pratham</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Vivek khajuria">
                <button type="submit">Vivek khajuria</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Nitin Gupta">
                <button type="submit">Nitin Gupta</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Manubhav Mehta">
                <button type="submit">Manubhav Mehta</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Rahul Singla">
                <button type="submit">Rahul Singla</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="TarunPal Singh">
                <button type="submit">TarunPal Singh</button>
            </form>
        </li>

        <li>
            <form method="POST" action="leader-board">
                <input type="hidden" name="username" value="Aditya Sharma">
                <button type="submit">Aditya Sharma</button>
            </form>
        </li>
    </ul>

    <h2>Leaderboard Ranking</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
        <% for (let i=0; i < leaderboard.length; i++) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= leaderboard[i].username %>
                </td>
                <td>
                    <%= leaderboard[i].score %>
                </td>
            </tr>
            <% } %>
    </table>

</body>

</html>